.title.bouncing_ball {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#007db8),
    to(#00447c)
  );
  background: -webkit-linear-gradient(#007db8, #00447c);
  background: -o-linear-gradient(#007db8, #00447c);
  background: linear-gradient(#007db8, #00447c);
}
